{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="login-container">
        <div class="login-box">
            <h3>Log in to access your Italian quizzes</h3>
            <form action="" method="post">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" required><br><br>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required><br><br>
                <button type="submit">Log In</button>
            </form>
        </div>
    </div>
{% endblock %}
